{
"extends": "airbnb",
"rules": {
    "no-console": ["off"],
    "no-underscore-dangle": ["error", { "allow": ["_id", "_metadata"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-alert": ["off"]
  }
}
